<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="robots" content="noindex, nofollow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Internal Server Error</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Unica+One|Raleway:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style> body{ font-family:'Raleway',sans-serif; } .font1{ font-family:'Unica One',cursive; } .container:first-child { margin-top: 50px; } .card-panel { margin-top: 20px; }</style>
</head>
<body>

  <div class="container">
    <div class="container">
      <h3>Error 500 - Internal Server Error</h3>
      <span style="font-size:22px;color:#999;">An unexpected error has occurred at the edge node</span>
      <div class="card-panel">
        <h5><strong>Why?</strong></h5>
        Something went wrong while processing your request.
      </div>
      <div class="card-panel">
        <h5><strong>What can I do?</strong></h5>
        Reload and try again! If this behavior keeps persists, please contact the website administrator with the information below.
      </div>
      <div class="card-panel">
        <h5><strong>Request information</strong></h5>
        Please give the following information to the website administrator:<br><br>
        IP Address: {{ip}}<br>
        Request ID: {{request_id}}<br>
      </div>
      <div class="card-panel">
        <strong style="font-size:17px;">Light Path CDN</strong>
      </div>
    </div>
  </div>
</body>
</html>